section {
    padding: 4em 4em;
    height: 100%;
}

    section table {
        border-collapse: collapse;
        min-width: 55em;
        left: 0;
        right: 0;
        margin: auto;
        position: relative;
    }

.container {
    display: flex;
}

#img_Content {
    max-width: 20em;
    max-height: 22em;
}

    #img_Content img{
        width: 100%;
        height: 100%;
    }

    #Detail_content {
        margin-left: 3em;
        max-width: 35em;
        padding: 2em;
        max-height: 22em;
        border: 1px solid wheat;
    }

#Detail_content div{
    margin: 1.5em 0;
}
.amount {
    text-align: center;
    max-width: 5em;
    border: none;
    border-bottom: 1px solid #ccc;
}

.thongbao {
    color: Red;
    position: absolute;
    top: 8em;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    z-index: 1;
    max-width: 26em;
}